.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

h1{
  margin: 5px
}

h2 {
  color: red;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espacement entre chaque filtre */
  margin: 20px 0;
}

.filters label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

.filters input,
.filters select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.filters input:focus,
.filters select:focus {
  border-color: #007bff;
  outline: none;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-item {
  width: 200px;
  text-align: center;
}

.movie-poster {
  width: 100%;
  border-radius: 10px;
}

.movie-info {
  margin-top: 10px;
}

.movie-info h3 {
  font-size: 18px;
  margin: 10px 0;
}

@media (max-width: 1025px) {
  .filters {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .filters label {
    width: 100%;
    min-width: unset;
  }

  .filters input,
  .filters select {
    width: 100%;
  }
}